<game_config>
	<zone id="ddz_zone_1" assembly_path="./libdooqu_ddz.so" auth_host="" auth_path="">
		<plugin>
			<id>ddz_0</id>
			<name>房间0</name>
			<frequence>2000</frequence>
                        <capacity>300</capacity>
                        <max_waiting_duration>15</max_waiting_duration>
		</plugin>
		<plugin>
			<id>ddz_1</id>
			<name>房间1</name>
			<frequence>2000</frequence>
                        <capacity>300</capacity>
                        <bet>15</bet>
		</plugin>
        </zone>
</game_config>
